# Build folder and log file
build/
build.log

.settings/com.appcelerator.titanium.core.prefs

*.prefs

*.prefs

*.prefs

.settings/com.appcelerator.titanium.core.prefs

.settings/com.appcelerator.titanium.mobile.prefs

.settings/com.appcelerator.titanium.mobile.prefs

.settings/com.appcelerator.titanium.core.prefs

.settings/com.appcelerator.titanium.mobile.prefs

.settings/com.appcelerator.titanium.mobile.prefs
